#div1{
    background-color: rgb(42, 41, 41);
    height: 80px;
    width: auto;

}
#div2 ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;

}

#div2 ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;

}